.card {
    display: inline-block;
    vertical-align: middle;
    border-radius: 8px;
    color: #292929;
    margin: 1% 1%;
    width: 30%;
    height: 300px;
    text-align: center;
    word-break: break-all;
    min-width: 200px;
    min-height: 300px;
    box-shadow: 0 3px 4px 0 rgb(0 0 0 / 14%), 0 3px 3px -2px rgb(0 0 0 / 12%), 0 1px 8px 0 rgb(0 0 0 / 20%);
}

.card:hover {
    transform: scale(1.1);
    transition: .8s ease;
}

.card:not(:hover) {
    transform: scale(1);
    transition: .8s ease;
}

.card p {
    margin: 10px auto;
    padding: 0 6px;
}

.card img {
    width: 65%;
    height: 65%;
    object-fit: cover;
}