.footer {
    position: relative;
    color: white;
    background: #292929;
    height: 8%;
    padding: 20px;
}

.footer a {
    color: lightskyblue;
}

.footer p {
    text-align: center;
    font-weight: bold;
}