.footer {
    bottom: 0;
    height: 8%;
    color: white;
    background: #292929;
    width: 100vw;
    padding: 20px;
}

.footer a {
    color: lightskyblue;
}

.footer p {
    text-align: center;
    font-weight: bold;
}